<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.WebJobs" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Azure.WebJobs.Core" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Azure.WebJobs.ServiceBus" version="1.0.1" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Data.Services.Client" version="5.6.0" targetFramework="net45" />
  <package id="Microsoft.Web.Administration" version="7.0.0.0" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="2.0.2.0" targetFramework="net45" />
  <package id="Moq" version="4.2.1402.2112" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net45" />
  <package id="Selenium.Support" version="2.33.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="2.42.0" targetFramework="net45" />
  <package id="System.Spatial" version="5.6.0" targetFramework="net45" />
  <package id="TestEasy.Client" version="1.0.60" targetFramework="net45" />
  <package id="TestEasy.Core" version="1.0.90" targetFramework="net45" />
  <package id="TestEasy.Server" version="1.0.60" targetFramework="net45" />
  <package id="TestEasy.WebBrowser" version="1.0.90" targetFramework="net45" />
  <package id="TestEasy.WebServer" version="1.0.90" targetFramework="net45" />
  <package id="WindowsAzure.ServiceBus" version="2.3.1.0" targetFramework="net45" />
  <package id="WindowsAzure.Storage" version="4.0.1" targetFramework="net45" />
  <package id="xunit" version="2.0.0" targetFramework="net45" />
  <package id="xunit.abstractions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.assert" version="2.0.0" targetFramework="net45" />
  <package id="xunit.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensibility.core" version="2.0.0" targetFramework="net45" />
  <package id="xunit.extensions" version="2.0.0" targetFramework="net45" />
  <package id="xunit.MSBuild" version="2.0.0.0" targetFramework="net45" developmentDependency="true" />
  <package id="xunit.runner.visualstudio" version="2.0.0" targetFramework="net45" />
</packages>